# Azure Document Intelligence
AZURE_DOC_INTELLIGENCE_ENDPOINT="https://nsfazdocintelligence.cognitiveservices.azure.com/"
AZURE_API_KEY="your_api_key_here"

# Azure OpenAI
AZURE_OPENAI_ENDPOINT="your_openai_endpoint_here"
AZURE_OPENAI_API_KEY="your_openai_api_key_here"